.intro, .thumbnail, .question, .page-header{
	background-color: #ffffff;
}
.linear-gradient{
    background-color: #dfdfff; 
}
  .question{
 	margin-top: 10px;
 	padding-top: 10px;
 	padding-left: 25px;
 	padding-right; 25px;
 	padding-bottom: 10px;
 }
	.page-header{
		margin-top: 10px;
		padding-top: 15px;
		padding-left: 25px;
 		padding-right; 25px;
 		padding-bottom: 10px;
	}
.button{
	font-size: 24px;
	background-color: blue;
	color: white;
}
